sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package\ Control.cache
sublime2/User/Package\ Control.last-run
sublime2/User/SVN.errors.log
sublime2/User/Side\ Bar.sublime-settings
vim/vim.symlink/.netrwhist
vim/vim.symlink/vim.symlink
vim/vim.symlink/backups/*
.rbenv-version
*/.rbenv-version
